body{
    margin: 0px;
    padding: 0px;
    background: black;
    font-family: Roboto;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100px;
    background-color: black;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    font-size: 2em;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item{
    margin: 10px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: orange;
}

.background{
    z-index: -1;
    width: 100%;
    position: fixed;
}

.show-feats{
    z-index: 1;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8em;
    margin-bottom: 0px;
}

.shows-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.date-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.date{
    margin: 0px;
    margin-top: 5px;
}

.date-text{
    display: flex;
    justify-content: center;
    width: 55%;
    height: 30px;
    margin:10px;
    background-color: lightgray;
    border: 1px solid black;
}

.show-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    height: 1500px;
}

.show{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.image-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.read-more-container{
    background-color: orange;
    border: 1px solid black;
}

.read-more-container h4{
    margin: 20px 10px;
}

hr {
    border: 1px solid lightgray;
    width: 85%;
}

footer{
    background-color: black;
    padding: 30px;
}

.bottom{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.map{
    width: 250px;
}

.map-img{
    width: 300px;
}

.foot-info{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .6em;
}

.foot-shows{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .6em;
}

.foots-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    font: .6em;
}

.foothead{
    font-size: 2em;
}

.media{
    margin: 20px;
    margin-left: 0px;
}

.groups{
    margin: 12px;
    margin-left: 0px;
}

